<div class="container-fluid page-wrapper">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-12 col-md-3 col-lg-2 sidebar">
      <h2 class="sidebar-title">Categories</h2>
      <ul class="list-group list-group-flush category-list">
        @for (cat of categories(); track cat) {
        <li class="list-group-item category-item" [routerLink]="['/products', cat]" [class.active]="cat === category()" (click)="onCategoryClick(cat)">
          {{ cat | titlecase }}
        </li>
        }
      </ul>
    </nav>

    <!-- Product Grid -->
    <main class="col-12 col-md-9 col-lg-10 main-content">
      <h1 class="page-heading bold">{{ category()  | titlecase }}</h1>
      <p class = "text-muted mb-3"> {{ store.filteredProducts().length }} products found</p>
      <div class="row g-4">
        @for (product of store.filteredProducts(); track product.id) {
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <app-product-card [product]="product"></app-product-card>
        </div>
        }
      </div>
    </main>
  </div>
</div>